@page "/Charts"
@using KeepTrack.Models
@using KeepTrack.Services
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@inject MovementService Service

@rendermode InteractiveServer

<PageTitle>Dashboard</PageTitle>

<h1>Charts</h1>

<div style="width: 800px;"><canvas id="acquisitions"></canvas></div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>

    (async function() {
        const data =  [
            { year: 2010, count: 10 },
            { year: 2011, count: 20 },
            { year: 2012, count: 15 },
            { year: 2013, count: 25 },
            { year: 2014, count: 22 },
            { year: 2015, count: 30 },
            { year: 2016, count: 28 },
        ];

        new Chart(
            document.getElementById('acquisitions'),
            {
                type: 'bar',
                data: {
                    labels: data.map(row => row.year),
                    datasets: [
                        {
                            label: 'Acquisitions by year',
                            data: data.map(row => row.count)
                        }
                    ]
                }
            }
        );
    })();


</script>

@code {
    private List<Movement> _movements = new List<Movement>();
    private List<int> _years = new List<int>();
    private Dictionary<int, double> _monthlyCosts = new Dictionary<int, double>();
    
    protected override Task OnInitializedAsync()
    {
        _movements = Service.GetAllMovements();

        
        foreach (var movement in _movements)
        {
            if(_monthlyCosts.ContainsKey(movement.Date.Month))
                _monthlyCosts[movement.Date.Month] += movement.Value;
            else
                _monthlyCosts.Add(movement.Date.Year, movement.Value);
        }
        
        return base.OnInitializedAsync(); 
    }
}
